body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('public/images/alphaPos-bg.jpg') no-repeat center center;
  background-size: cover;
}

.container {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
}

.row {
  max-height: 600px;
}

.col-md-4,
.col-md-8 {
  min-height: 600px;
}

.col-md-4 {
  overflow-y: auto;
}

[data-alpha-pos='delete-drink'] {
  display: inline-block;
  text-align: center;
  color: #999;
  cursor: pointer;
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 1;
}

[data-alpha-pos='delete-drink']:hover {
  color: #333;
}

.menu .card-body {
  cursor: pointer;
}

.menu .card-body:hover {
  box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.8);
}
